[Unit]
Description=Pulsar Job Execution Service
After=network.target

[Service]
User={{ pulsar_user }}
Group={{ pulsar_group }}
WorkingDirectory={{ pulsar_install_dir }}
# Activate the venv before running Pulsar
ExecStart=/bin/bash -c 'source {{ venv_path }}/bin/activate && exec pulsar{% if mq %} --mode webless{% endif %}'
Restart=on-failure

[Install]
WantedBy=multi-user.target